<%= link_to listing_path(listing) do %>
  <div>
    <div class="rounded-lg aspect-square overflow-hidden mb-2">
      <% if listing.photo.key %>
        <img class="object-cover w-full h-full" src="<%= cl_image_path listing.photo.key %>" alt="">
      <% else %>
        <img class="object-cover w-full h-full" src="https://source.unsplash.com/random" alt="">
      <% end %>
    </div>
    <div class="flex justify-between">
      <div class="pr-4">
        <p class="text-slate-600 mb-2"><%= listing.address %></p>
        <p><span class="font-bold">$<%= listing.price %></span> night</p>
      </div>
      <div class="shrink-0 font-bold">
        <i class="fa-solid fa-star"></i> 4.2
      </div>
    </div>
  </div>
<% end %>
