<div class="flex flex-col items-center content-center h-screen py-16 gap-y-6">
  <h1 class="text-5xl"> Welcome! Lets give your new listing a title.<h1>
  <h2 class="text-xl text-slate-400"> Short titles work best. Have fun with it - you can always change it later.</h2>
  <input type="text" class="border-slate-400	" />
</div>