@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&family=Roboto:wght@400;500&display=swap');

* {
  font-family: 'Plus Jakarta Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.sign_up > .user_first_name, .sign_up > .user_last_name {
  margin: 0;
}

.sign_up > .user_first_name > input {
  border-radius: 0.5rem 0.5rem 0 0;
  border-bottom: 0;
}

.sign_up > .user_last_name > input {
  border-radius: 0 0 0.5rem 0.5rem;
}

.sign_up > .user_email {
  margin-bottom: 0;
}

.sign_up > .user_email > input {
  margin-bottom: 0.3rem;
}

.sign_up > .user_password {
  margin-bottom: 20px;
}

.sign_up > .user_img_url {
  margin-bottom: 0.3rem;
}

.sign_up {
  margin-bottom: 0.3rem;
}


#submit {
  background-color: #da0b63;
  color: white;
}

.form-button {
  display: inline-block;
  margin-top:20px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #cc0c0e;
  border-color: #cc0c0e;
  width: 80%;
  margin-left:40px;
  /* transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;

}

.form-content {
  text-align: center;
  margin-top:25px;
  margin-bottom: 25px;
}

.form-title{
  text-align: left;
}

.listing-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  gap:50px;
  position: absolute;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.list-map {
  transition: 300ms;
}

.list-map:hover {
  box-shadow: 0 0 0 1px transparent, 0 0 0 4px transparent, 0 6px 16px rgba(0,0,0,0.12);
  transform: scale(1.04);
}

#listings-content {
  display: block;
}

#listings-content.show {
  display: none;
}

#submitlisting {
  background-color: #EF4444;
  color:white;
}

.mapboxgl-map {
  width: 100%;
  position: fixed !important;
  z-index: 40;
  opacity: 0;
  transform: translateY(100%);
  transition: 300ms;
}

.mapboxgl-map.show {
  opacity: 1;
  transform: translateY(0);
}

#map {
  position: relative !important;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: inherit;
}
