<div class="flex lg:flex-row flex-col items-center py-8 px-4">
  <div class="container">
    <div class="flex flex-col lg:mr-16">
      <div class="text-xl font-bold">$471 SGD night</div>
      <div class="flex justify-between mt-4 lg:mt-0 lg:mr-4">
        <label for="checkin" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal w-1/2">CHECK-IN</label>
        <label for="checkout" class="text-gray-800 dark:text-gray-100 text-sm font-bold leading-tight tracking-normal w-1/2 ml-4">CHECKOUT</label>
      </div>
      <div class="flex justify-between mt-2">
        <input id="checkin" autocomplete="off" class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-700 dark:bg-gray-800 bg-white font-normal w-1/2 h-10 flex items-center pl-3 text-sm border-gray-300 rounded border shadow" placeholder="Add date" />
        <input id="checkout" class="text-gray-600 dark:text-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 dark:focus:border-indigo-700 dark:border-gray-800 bg-white font-normal w-1/2 h-10 flex items-center pl-3 text-sm border-gray-300 bg-white rounded border shadow ml-4" placeholder="Add date" />
      </div>
    </div>

    <div class="flex flex-col lg:mr-16 lg:py-0 py-4">
      <button class="w-full display:block bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-4 lg:mt-0">Reserve</button>
      <div class="text-xs mt-2">You won't be charged yet</div>
      <div class="flex justify-between items-center w-full py-4 text-sm font-semibold border-b border-gray-300 lg:py-5 lg:px-3 text-heading last:border-b-0 last:text-base last:pb-0">
        <div class="flex justify-between w-full">
          <span>$471 SGD x 6 nights</span>
          <span>$2832 SGD</span>
        </div>
      </div>
    </div>
  </div>
</div>
